root = true

[*.cs]

#######################################
# Encoding / newline
#######################################

charset = utf-8-bom
end_of_line = lf
insert_final_newline = true


#######################################
# Indentation
#######################################

indent_style = space
indent_size = 4
tab_width = 4


#######################################
# Using directives
#######################################

dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion


#######################################
# Namespace
#######################################

csharp_style_namespace_declarations = file_scoped:suggestion


#######################################
# var
#######################################

csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion


#######################################
# Braces
#######################################

csharp_prefer_braces = true:warning


#######################################
# Expression body
#######################################

csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_constructors = false:suggestion


#######################################
# Null
#######################################

csharp_style_null_propagation = true:suggestion
csharp_style_coalesce_expression = true:suggestion


#######################################
# Naming
#######################################

dotnet_naming_rule.interfaces_should_be_prefixed_with_i.severity = warning
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.symbols = interface_symbols
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.style = interface_style

dotnet_naming_symbols.interface_symbols.applicable_kinds = interface

dotnet_naming_style.interface_style.required_prefix = I


#######################################
# Accessibility
#######################################

dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion


#######################################
# Analyzer suppressions
#######################################

dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA1032.severity = none


#######################################
# Tests
#######################################

[**/*Tests.cs]

dotnet_diagnostic.CA1031.severity = none